/* RESET DEFAULT BUTTON */
button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

/* STYLING UNTUK KUMPULAN BUTTON  */
.btn.btn-product {
    background: #FF2D55;
    border-radius: 5px;
    width: 123px;
    color: white;
    cursor: pointer;
}

.btn.btn-product:hover {
    background: #b9213d;
}